@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

.StartMenu {
  --StartMenu-color: #ddd;
  background-image: radial-gradient(var(--StartMenu-color) 5%, transparent 5%);
  background-size: 30px 30px;
}

@media (prefers-color-scheme: dark) {
  .StartMenu {
    --StartMenu-color: #383838;
  }
}

.fade-enter,
.fade-appear,
.fade-exit {
  pointer-events: none;
}

.fade-enter,
.fade-appear {
  filter: opacity(0);
}

.fade-enter-active,
.fade-appear-active {
  filter: opacity(1);
  transition: filter var(--fade-speed);
}

.fade-exit {
  filter: opacity(1);
}

.fade-exit-active {
  filter: opacity(0);
  transition: filter var(--fade-speed);
}
