@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

.StartMenu {
  --StartMenu-color: #ddd;
  background-image: radial-gradient(var(--StartMenu-color) 5%, transparent 5%);
  background-size: 30px 30px;
}

@media (prefers-color-scheme: dark) {
  .StartMenu {
    --StartMenu-color: #383838;
  }
}
